* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 300;
    justify-items: center;
}

.navbar {
    background: #ffffff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 3px solid black;
}


 .navbar__container {
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    /* background-color: yellow; */
    color: black;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    /* background-color: aquamarine; */
    height: 80px;
}

.navbar__links {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    white-space: nowrap;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border:none;
    outline: none;
    border-radius: 8px;
    background-color: black;
    color: white;
}

.button:hover {
    background-color: white;
    color: black;
    border: 3px solid black;
    transition: all 0.3s ease;
}


.navbar__links:hover {
    font-weight: 500;
}

/* 1rem = 60px */


@media screen and (max-width: 900px) {
    .navbar__item {
        display: none;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
    }
}


.main {
    margin: 0 auto; /* Center the body horizontally */
    max-width: 1500px; /* Set the maximum width */
    padding: 0 20px; /* Optional: Add padding for spacing */
    height: 2000px;
    display: flex;
    height: 800px;
}

.main__container {
    display: flex;
    flex:1;
    margin: 2rem;
    text-align: right;
    font-size: 2.5rem;
    align-items: center;
}

.main__container--wrapper {
    margin-left: auto;
}

.main__container h1 {
    font-weight: 700;
}


.main__project {
    display: flex;
    flex:2.5;
    margin: 5rem;
    align-items: center;
    text-align: left;
}

.main__project--border {
    display: flex;
    /* background-color: bisque; */
    flex:1;
    align-items: center;
    text-align: left;
    height: 600px;
}

.main__project--item {
    width: 120px;
    height: 600px;
    flex: 1;
    background-size: 600px auto;
    background-position: 30%;
    background-color: pink;
    cursor: pointer;
    overflow: hidden;
    border-radius: 0.1rem;
    margin:0 10px;
    display: flex;
    align-items: flex-end;
}

.main__project--item:nth-child(2) {
    flex: 2;
    background-position: 70%;
}


.main__project--border:hover {
    .main__project--item {
        flex: 1;
        transition: 0.5s ease-in-out;
    }

    .main__project--item:hover {
        background-size: 700px auto;
        flex:2;
        transition: 0.5s ease-in-out;
    }
}
